@charset "UTF-8";
#postsTitle {
	margin: 0 auto;
	margin-top: 20px;
	max-width: 2000px;
	height: 64px;
}
#postsTitle img{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 2.5%;
}
#postsTitle h2{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
	color: #7F5539;
}
#postsBody{ 
	margin: 25px auto;
	margin-left: 90px;
	margin-right: 90px;
	padding: 30px 25px;
	
	border-radius: 1rem;
	overflow-x: scroll;
	white-space: nowrap;
	background-color: #fcf3ea;
}
#postsBody2{
	margin: 25px auto;
	display: grid;
	grid-template-columns: repeat(5, 230px);
	gap: 1.5rem;
	max-width: 1300px;
	max-height: 1038px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 3%;
	background-color: #fcf3ea;
	border-radius: 1rem;
	overflow: auto;
	margin-left: 90px;
	margin-right: 90px;
}

@media screen and (min-width:400px) and (max-width:799px) {
	#postsBody{
		width:550px;
		margin: 25px auto;
	}
	#postsBody2{
		width:580px;
		margin: 25px auto;
	}
}

@media screen and (min-width:800px) and (max-width:1099px) {
	#postsBody{
		width:700px;
		margin: 25px auto;
	}
	#postsBody2{
		width:700px;
		margin: 25px auto;
	}
}

@media screen and (min-width:1100px) {
	#postsBody{
		width:1300px;
		margin: 25px auto;
	}
	#postsBody2{
		width:1300px;
		margin: 25px auto;
	}
}

#postsBody::-webkit-scrollbar{
	height: 5px; /*가로출 스크롤바의 크기는 height로 조절한다;*/
}
#postsBody::-webkit-scrollbar,
#postsBody::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: rgba(0,0,0,.2);
}
.p-post-box, .post-box{
	position: relative; /*부모의 요소에 relative를 써줘야*/
	display: inline-block;
	width: 200px;
	height: 300px;
	border: 2px solid #a95e13;
	border-radius: 0.5rem;
	padding: 15px;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 10px darkgrey;
}
.p-post-box{
	margin: auto 30px;
	text-align: center;

}
#postsBody2 div{
	float: left;
	text-align: center;

}

.grade{
	/*display: inline-block;*/
	position: absolute; /*자식의 absolute 위치가 부모에 위치에 종속된다*/
	z-index: 1;
	width: 40px;
	/*height: 50px;*/
}
.post-img{
	width: 200px;
	height: 200px;
	border-radius: 0.5rem;
	cursor: pointer;
}
.post-img:hover{
	-webkit-transform: scale(1.3);
    transform: scale(1.07);
}
.post-subject{
	display: block;
	margin: 5px 0;
	width: 200px;
	height: 2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	cursor: pointer;
	font-weight: 600;
}
.post-subject:hover{
	-webkit-transform: scale(1.3);
    transform: scale(1.07);
}

/* profile =================================== */
.profile {
	display: flex;
	align-items: center;
	gap: 10px;
}
.profile-name{
	float: left;
	display: block;
	width: 125px;
	margin-left: 5px;
	margin-top: 5px;
	font-size: 1.1rem;
	text-align: start;
}
.profile-img{
	float: left;
	width: 30px;
}

/* like =================================== */
.like{
	position: absolute;
	bottom: 5px;
	/*right: 0px;*/
	left: 10px;
	width: 200px;
	/*margin-right: 5px;*/
}
.like-img{
	float: left;
	display: block;
	width: 25px;
	margin-left: 135px;
}
/* .like-num{
	float: left;
	display: block;
	height: 25px;
	margin-left: 80px;
	padding-right: 5px;
} */
.like-num{
	float: left;
	margin: 0 0;
	width: 40px;
	height: 25px;
	font-weight: bold;
	text-align: center;
}

/* like =================================== */
.page-area{
	display: flex;
    justify-content: center;
    margin-top: 20px;
}
.paging{
	list-style: none;
    display: flex;
    gap: 8px;
}
.paging li{
	display: inline-block;
    padding: 6px 12px;
    background-color: var(--second-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.paging li.active{
	background-color: var(--bg-color);
    color: red;
    cursor: default;
}






